<a href="https://colab.research.google.com/github/squesada/test-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sales

In [2]:
revenue = 10000
tax = 0.19
income = revenue * tax
income

1900.0

In [3]:
print(income)

1900.0

### Summary

In [5]:
import numpy as np

np.__version__

'1.19.5'

In [6]:
np.random.rand?

In [ ]:
!pip install imageai

In [9]:
import imageai

### Markdown

Examples of *markdown*
Examples of **markdown**
Examples of __markdown__
Examples of `markdown`

```
Examples of markdown
```

> Python
>>> Code

An ordered list:
1. One
2. Two
3. Three

An unordered list:
* One
* Two
* Three

[Udemy](https://www.udemy.com/course/250-exercises-data-science-bootcamp-in-python/learn/lecture/19842192#overview)

![Python]()

$y = x^2$

$\frac{1}{n} \sum_{i=1}^{n}x_{i}$

$A = \begin{pmatrix}
a_{1,1} & a_{1,2} \\
a_{2,1} & a_{2,2}
\end{pmatrix}$

Col1 | Col2 | Col3
--- | --- | ---
val1 | val2 | val3
val4 | val5 | val6